* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.wrapper {
    margin: 0 auto;
    display: grid;
    grid-template-columns: minmax(240px, 1fr);
}
.title {
    text-align: center;
}
.container {
    margin: 0 auto;
}
.question-container {
    padding: 0.5rem 2rem;
    background: darkblue;
    color: white;
    font-size: 2rem;
    text-align: center;
    border: 2px solid yellow;
}